.THIS .slds-textarea {
    height: 250px !important;
}

.THIS .slds-button {
    width: 85px;
}

.THIS .slds-modal__footer {
    width: 100%;
    margin: 0px;
}

.THIS .colWidth {
    width: 50% !important;
}