.THIS .btnWidth {
    width: 82px;
}

.THIS .containerHeight {
    height: 200px
}

.THIS .inheritHeight {
    height: inherit;
}

.THIS .slds-table_header-fixed_container {
    border: 1px solid lightgray;
}

.THIS .access .slds-form-element__control .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    font-size: 15px;
}

.THIS .slds-table_header-fixed_container {
    overflow-x: hidden;
}